@model IEnumerable<Project.Models.Review>

@{
    ViewData["Title"] = "Reviews";
}

<h1>Отзывы</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Фамилия
            </th>
            <th>
                Имя
            </th>
            <th>
                Отчество
            </th>
            <th>
                Телефон
            </th>
            <th>
                Электронная почта
            </th>
            <th>
                Комментария
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Review item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
        </tr>
        }
    </tbody>
</table>
