@model Project.ViewModels.RunnersViewModel

@{
    ViewData["Title"] = "Runners";
}

<h1>Клиенты</h1>
<h5 class="text-right"><a asp-action="excelRunner">Выгрузить в excel</a></h5>
<form asp-action="runners" method="get">
    <div class="form-inline form-group">
        <div class="form-row">
            <div class="col-auto">
                @Html.DropDownList("userId", Model.Users as SelectList,
           htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Телефон
            </th>
            <th>
                Фамилия
            </th>
            <th>
                Имя
            </th>
            <th>
                Отчество
            </th>
            <th>
                Куратор
            </th>
            <th>
                Комментарие
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Runner item in Model.Runners)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patronymic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
            </tr>
        }
    </tbody>
</table>
